$light: #F4EBE8;
$normal: #FCA17D;
$darker: #DA627D;
$high: #9A348E;
$text: #0D0628;

body {
  background-color: $light;
  color: $text;
  font-family: Helvetica;
  font-size: 16px;
}

.wrapper {
  width: 50%;
  margin: 2em auto;

  @media only screen and (max-width: 400px) {
    width: 100%;
  }

  @media only screen and (max-width: 960px) {
    width: 80%;
  }
}

h1, h2, h3 {
  font-family: "Trebuchet MS";
  font-weight: 500;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

a {
  text-decoration: none;
  color: $high;
}

@mixin button($color) {
  background: $color;
  border: 2px solid darken($color, 15%);
  cursor: pointer;
  color: white;
  padding: 0.5em;
  margin: 1em;
  border-radius: 10%;
}

.completed {
  text-decoration: line-through;
}

.tasks {
  padding: 0;
  list-style: none;
  width: 100%;
}

.task {
  position: relative;
  padding: 10px 0 2px 28px;
}

.tasks li.completed form.update input {
  color: $high;
}

.lists {
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.list {
  float: left;
  margin: 0 2em 0 0;

  h2 {
    color: $darker;
    margin: 0.5em auto;
    text-align: center;
  }
}

form.update {
  position: absolute;
  bottom: 2px;
  left: 0;

  input {
    background: white;
    color: white;
    border: solid 1px gray;
    cursor: pointer;
  }
}

form.delete {
  display: inline-block;

  input {
    background: none;
    cursor: pointer;
    border: none;
  }
}

.button {
  @include button($darker);
}

.btn {
  margin: 1em 0;
  display: block;
}

.dlt {
  position: absolute;
  right: 0px;
  bottom: 2px;
}

.ipt {
  height: 2em;
}

#add {
  margin: 0 auto;
  width: 210px;
}

.task-txt {
  min-width: 180px;
  width: calc(100% - 87px);

  @media only screen and (max-width: 600px) {
    min-width: initial;
  }
}

.task-name {
  margin: 0 50px 0 0;
}

.txt-ipt {
  display: block;
  margin: 1em 0;
}

.lbl-ipt {
  min-width: 80px;
  display: inline-block;
  font-size: 1.1em;
  margin: 0 1em 0 0;
}

.username {
  font-weight: 800;
}

.content {
  min-height: 400px;
}

.back {
  display: inline-block;
  margin-top: 3em;
}
